<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <h2 class="card-title text-center">確認メールが届かない場合</h2>
          <p class="text-center">ご登録されたメールアドレスを入力してください。<br>認証用リンクが含まれたメールを再送信します。</p>
          
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :メールアドレス, class: 'form-label' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
            </div>

            <div class="actions text-center">
              <%= f.submit "再送信", class: 'btn btn-secondary mt-3' %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
